<html>
    <head>
        <title>Ola's blog</title>
    </head>
    <body>
    	<div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}
    	{{ posts }}
    	<h1>siempre el hijo de coco</h1>
        <h2>el crimen de la vampiposa</h2>
        <p>lisamar es la negra</p>
        <br />
        <p>a la vivora de la mar por aca podran pasar los de alante corren mucho y los de atras se quedaran se quedaran se quedaraaaaaaaan</p>
    </body>
</html>